table.color-input {
  td {
    vertical-align: middle;
  }

  td:nth-child(1) { text-align: right; }
  td:nth-child(3) {
    text-align: left;
    width: 2rem;
  }

  input[type=range] {
    height: 1.5rem;
    margin-bottom: -0.4rem;
  }
}